<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Details</title>
</head>
<body>
    <h1>Shops</h1>

    {{#if foundId}}
    <p><span style="font-weight: 700">Name:</span> {{foundId.name}}</p>
    <p><span style="font-weight: 700">Rating:</span> {{foundId.rating}}</p>
    {{else}}
    <p>No shop exists with ID {{id}}.</p>
    {{/if}}
    <a href="/shop-list">See all shops</a>
</body>
</html>